$black-color: #040404;
$orange-color: #e6533c;
$light-orange-color: #ef8964;
$beige-color: #efa082;
$white-color: #ffff;

$transition: 0.4s;

$border-radius-btn: 12px;
$borde-color: rgba(239, 237, 232, 0.3);

:export {
  blackColor: $black-color;
  orangeColor: $orange-color;
  lightOrangeColor: $light-orange-color;
  beigeColorr: $beige-color;
  whiteColor: $white-color;
}
