@import '../../Sass/utils/variables.module';
@import '../../Sass/utils/mixins.module';

.empty_cart_message {
  max-width: 800px;
  width: 100%;
  @include flexCenter();
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: 30px;
}

.empty_cart_btn_wrapper {
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.product_cart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.product_card {
  box-sizing: border-box;
  @include flexCenter();
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
}

.product_image {
  margin-bottom: 20px;
}

.product_info {
  display: flex;
  flex-direction: column;
}

.product_title {
  font-size: 16px;
  margin-bottom: 5px;
}

.product_price {
  font-weight: bold;
  margin-bottom: 5px;
}

.remove_button {
  max-width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: $orange-color;
  color: $white-color;
  border: none;
  padding: 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: background-color $transition;
  -webkit-transition: background-color $transition;
  -moz-transition: background-color $transition;
  -ms-transition: background-color $transition;
  -o-transition: background-color $transition;

  &:hover {
    background-color: $light-orange-color;
  }
}

.checkout_button {
  margin-left: auto;
  margin-right: auto;
  background-color: #2ecc71;
  color: $white-color;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
